*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 500px;
    /* DEBUG */
    background-color: aquamarine;
}
.high-box-header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    /* DEBUG */
    background-color: violet;  
    
}
/* logo */
#logo{
    display: flex;
    align-items: center;
}
/* nav box */
.nav-header{
    height: 100px;
    width: 50%;
    /* DEBUG */
    background-color: blueviolet;
}
.link-nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    list-style: none;
    /* DEBUG */
    background-color: yellowgreen; 
}
/*delete decoration*/
.link-nav-container a{
   text-decoration: none;
   color: white;
}

/* login button */
.login-download{
    display: flex;
    align-items: center;
}
.login-download a{
    text-decoration: none;
}
/* Where you want to open D? */
.paragraf-under-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    
    /* DEBUG */
    background-color: tomato;
}
/* subtitle/paragraf */
.center-subtitle-txt{
    max-width: 50%;
}
/* centratura subtitle & paragraf */
.center-subtitle-txt h2, .center-subtitle-txt p{
    text-align: center;
}
.download-button-open-browser-button-center{
    display: flex;
    justify-content: center;
}
.download-button-open-browser-button{
    display: flex;
    justify-content: center;
    justify-content: space-evenly; 
    width: 20%;
}
.interact-button{
    padding: 10px;
    border-radius: 20px;
    border-style: none;
    border: solid black 1px;
}
/* delete decoration */
.interact-button a{
    text-decoration: none;
    color: black;
}


/* main page */

/* first-main-info */
.first-main-info{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.first-main-info-reverse{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 5%;
}
.size-img{
    max-width: 900px;
}
.first-main-info-article{
    display: flex;
    text-align: left;
    max-width: 500px;
}
h2{
    font-size: 70px;
}
p{
    font-size: 24px;
}
h3{
    font-size: 30px;
}
/* end section */
.end-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
    text-align: center;
}

#end-img img{
    height: 35vw;
}
